{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <section class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card main">
                        <div class="card-header main">
                            {{ include("Components/navbar.html.twig") }}
                        </div>

                        <div class="card-body">
                            {% block content %}

                            {% endblock %}
                        </div>

                    </div>
                </div>
            </div>
    </section>

{% endblock %}

